.side-bar {
    position: fixed;
    top: 57px;
    bottom: 0;
    left: 0;
    width: 72px;
    background-color: white;
    z-index: 200;
    padding-top: 5px;
}

.side-bar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-bar-link:hover {
    background-color: rgb(235, 235, 235);
    cursor: pointer;
}

.side-bar img{
    height: 24px;
    width: 24px;
    margin-bottom: 5px;
}

.side-bar .icon-name {
    font-family: Roboto, Arial, sans-serif;
    font-size: 10px;
}